NODE_ENV=development
PORT=3050

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=zonzon_db

JWT_SECRET=change_me_in_production

FRONTEND_URLS=http://localhost:4200,http://localhost:8080

OSRM_URL=http://router.project-osrm.org
COMMISSION_RATE=0.35
UPLOAD_DIR=uploads
NOTIFY_RADIUS_KM=5
